.primary-navigation {
  width: 100%;
  height: 100%;
}

.navigation__list {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 1rem 2rem;
}

.navigation__list-item {
  padding: 6px 4px;
  display: flex;
  align-items: center;
  gap: 2rem;
}

.navigation__list-link {
  display: inline-block;
  text-decoration: none;
  font-size: 1.7rem;
  color: #fff;
}
